<div class="main-content">
  <section id="Film1">
        <div class="login-box">
<br>
          <form [formGroup]="createFilmForm" (ngSubmit)="createFilm()">
            <div class="user-box">
              <input type="text" formControlName="title">
              <label>Nom film</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="duration">
              <label>Durée</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="poster">
              <label>Affiche</label>
            </div>
            <!-- <div class="user-box">
              <input type="text" formControlName="">
              <label>Tarif :</label>
            </div> -->
            <div class="user-box">
              <input type="text" formControlName="genre">
              <label>Genre :</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="releaseDate">
              <label>Date de sortie :</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="description">
              <label>Description :</label>
            </div>
            <!-- <div class="user-box">
              <input type="text" name="" required="">
              <label>Tarif :</label>
            </div> -->
            <button type="submit">
              Ajouter
            </button>
            <a [routerLink]="'/admin'">
              Annuler
            </a>
          </form>
        </div>
  </section>
</div>