<header>
  <div id="logo">
    <img src="https://s31.postimg.cc/g9en7eu0r/logo.png" alt="">
  </div>
  <nav>
    <ul>
      <li>
        <a href="#wrap-article3">Programmation</a>
        <div class="square"></div>
      </li>
      <li>
        <a href="#wrap-article4">A l'affiche</a>
        <div class="square"></div>
      </li>
      <li>
        <a href="login">Connexion</a>
        <div class="square"></div>
      </li>
    </ul>
  </nav>
</header>

<main>
  <!-- <div id="wrap-article1">
      <div id="box-video">
          <div id="video">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/YrWxCFktVVc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
      <div id="box-resume">
          <div id="wrap-resume">
              <div id="resume" class="padding">
                  <h1>Midnight<br>Special</h1>
                  <div id="illu">
                      <img src="https://s31.postimg.cc/fwn917wbf/illu2.png" alt="">
                  </div>
                  <h2>Jeff Nichols</h2>
                  <p>Vu et beaucoup aimé. Une histoire simple et belle comme une évidence<br>Jeff Nichols est grand, c'est confirmé</p>
              </div>
              <div id="wrap-btn">
                  <a href=""><div id="btn-left"><p>Reserver</p></div></a>
              </div>
          </div>
      </div>
  </div> -->

  <div id="top">
    <a href="#"><img src="https://s31.postimg.cc/yoz44t0ff/top.png" alt=""></a>
  </div>

  <div id="wrap-article3">
    <div id="box-title">
      <h2>Progra<i class="fas fa-plus"></i></h2>
    </div>
    <div id="container-table">
      <table>
        <thead>
          <tr>
            <th><span>Heure</span></th>
            <!-- <th colspan="2" class="big"><span>Films</span></th> -->
            <th><span>Durée</span></th>
            <!-- <th><span>Place</span></th> -->
            <th><span>Film</span></th>
            <th><span>Séance</span></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let screening of screenings">
            <tr>
              <td>{{screening.hour}}</td>
              <td>{{getFilm(screening.filmId)?.duration}}</td>
              <!-- <td>224pl</td> -->
              <td>{{getFilm(screening.filmId)?.title}}</td>
              <td>{{screening.date}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div id="wrap-article4">
    <div id="box-title">
      <h2>Affiche<i class="fas fa-plus"></i></h2>
    </div>
    <ng-container *ngFor="let film of films">
      <div id="box-serie">
        <div id="serie">
          <div id="affiche" class="soon">
            <img [src]="film.poster" alt="">
          </div>
          <h1>{{film.title}}</h1>
          <!-- <div id="illu">
            <img src="https://s31.postimg.cc/fwn917wbf/illu2.png" alt="">
          </div> -->
          <h2>{{film.director}}</h2>
          <!-- <h3>Acteur</h3> -->
          <h4>{{film.releaseDate}}</h4>
          <!-- <div id="wrap-btn">
            <a href="">
              <div id="btn-left">
                <p>Reserver</p>
              </div>
            </a>
          </div> -->
        </div>
      </div>
    </ng-container>
  </div>


</main>

<footer>
  <div id="container-illu1">
    <ul>
      <li>Cinémax</li>
    </ul>
  </div>
  <div id="logo-mini">
    <div id="container-logo">
      <figure>
        <img src="img/logo.png" alt="">
        <figcaption>Copyright 2024</figcaption>
      </figure>
    </div>
  </div>
</footer>