<div class="main-content">
  <section id="Film1">
        <div class="login-box">
<br>
          <form>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Nom film</label>
            </div>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Durée</label>
            </div>
            <div class="user-box">
              <p>Image : 
                  <input type="file" id="inputImage" style="display: none;">
                  <button onclick="choisirImage()">Sélectionner une image</button>
              </p>
            </div>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Tarif :</label>
            </div>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Genre :</label>
            </div>
            <div class="user-box">
              <input type="date" name="" required="">
              <label>Date de sortie :</label>
            </div>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Description :</label>
            </div>
            <div class="user-box">
              <input type="text" name="" required="">
              <label>Tarif :</label>
            </div>
            <a href="Admin.HTML">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Modifier
            </a>
            <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Supprimer
            </a>
          </form>
        </div>
  </section>
</div>