<header>
  <div id="logo">
    <img src="https://s31.postimg.cc/g9en7eu0r/logo.png" alt="">
  </div>
  <nav>
    <ul>
      <ng-container *ngIf="!isLoggedIn(); else elseBlock">
        <li>
          <a href="login">Connexion</a>
          <div class="square"></div>
        </li>
        <li>
          <a href="signup">Inscription</a>
          <div class="square"></div>
        </li>
      </ng-container>
      <ng-template #elseBlock>
        <li>
          <button (click)="logOut()">Déconnexion</button>
          <div class="square"></div>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>

<main>

  <div id="wrap-article3">
    <div id="box-title">
      <h2>Progra<i class="fas fa-plus"></i></h2>
      <button [routerLink]="'/addScreening'">Ajouter</button>
    </div>
    <div id="container-table">
      <table>
        <thead>
          <tr>
            <th><span>Heure</span></th>
            <!-- <th colspan="2" class="big"><span>Films</span></th> -->
            <th><span>Durée</span></th>
            <!-- <th><span>Place</span></th> -->
            <th><span>Film</span></th>
            <th><span>Séance</span></th>
            <th><span>Prix</span></th>
            <th><span>Modifier</span></th>
            <th><span>Supprimer</span></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let screening of screenings">
            <tr>
              <td>{{screening.hour}}</td>
              <!-- <td colspan="2" class="big">TITRE</td> -->
              <td>{{getFilm(screening.filmId)?.duration}}</td>
              <!-- <td>224pl</td> -->
              <td>{{getFilm(screening.filmId)?.title}}</td>
              <td>{{screening.date}}</td>
              <td>10€</td>
              <td><a [routerLink]="['/editScreening', screening._id]">Modifier</a></td>
              <td><button (click)="deleteScreening(screening._id)">Supprimer</button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div id="wrap-article4">
    <div id="box-title">
      <h2>Affiche<i class="fas fa-plus"></i></h2>
    </div>
    <ng-container *ngFor="let film of films">
      <div id="box-serie">
        <div id="serie">
          <div id="affiche" class="soon">
            <img [src]="film.poster" alt="">
          </div>
          <h1>{{film.title}}</h1>
          <!-- <div id="illu">
            <img src="https://s31.postimg.cc/fwn917wbf/illu2.png" alt="">
          </div> -->
          <h2>{{film.director}}</h2>
          <!-- <h3>Acteur</h3> -->
          <h4>{{film.releaseDate}}</h4>
          <div id="wrap-btn">
            <a [routerLink]="['/editFilm', film.id]">
              <div id="btn-left">
                <p>Modifier</p>
              </div>
            </a>
            <a (click)="deleteFilm(film.id)">
              <div id="btn-left">
                <p>Supprimer</p>
              </div>
            </a>
          </div>
          <!-- <div id="wrap-btn">
            <a href="">
              <div id="btn-left">
                <p>Reserver</p>
              </div>
            </a>
          </div> -->
        </div>
      </div>
    </ng-container>
  </div>
  <div id="wrap-btn">
    <a [routerLink]="'/addFilm'">
      <div id="btn-left">
        <p>Ajouter</p>
      </div>
    </a>
  </div>
</main>

<footer>
  <div id="container-illu1">
    <ul>
      <li>Cinémax</li>
    </ul>
  </div>
  <div id="logo-mini">
    <div id="container-logo">
      <figure>
        <img src="img/logo.png" alt="">
        <figcaption>Copyright 2024</figcaption>
      </figure>
    </div>
  </div>
</footer>