<div id="wrap-article5">
  <div id="container-table">
      <div class="wrapper">
          <section class="login-container">
              <div>
                  <header>
                      <h2>Identification</h2>
                  </header>
                  <form [formGroup]="loginForm" (ngSubmit)="login()">  
                      <input type="text" name="username" placeholder="Nom d'utilisateur" formControlName="username" required="required"/>
                      <input type="password" name="password" placeholder="Mot de passe" formControlName="password" required="required"/>
                      <a href="">Retour</a>
                      <button type="submit">Connexion</button>
                    </form>
              </div>
          </section>
      </div>
  </div>
</div>